# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Build
dist/
build/

# Excel gerado pelo sistema
output/*.xlsx
output/*.xlsm

# Logs
*.log
